# dependencies
/node_modules
/.pnpm-store/

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# operating systems and editors
.DS_Store
Thumbs.db
*.swp

# TypeScript
*.tsbuildinfo
next-env.d.ts
node_modules
